@import "tailwindcss";

/* 스크롤 숨기기 - 경복추가 */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

/* * {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
