@import "tailwindcss";

/* 스크롤 숨기기 - 경복추가 */
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

html {
  font-family: "Pretendard Rounded", sans-serif;
}

[lang="jp"] {
  font-family: "Zen Maru Gothic", sans-serif;
}

[lang="en"] {
  font-family: "Zen Maru Gothic", "Inter", sans-serif;
}
